
/********* general **********/
a {
	text-decoration: none;
}

/********* header **********/

.header {
	height: 100px;
}

/********* menu **********/

nav {
	/* height: 9%; */
}

.btn {
	background-color: rgba(0, 0, 0, 0.55);
}

.btn.active {
	border-bottom: 0px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.0));
}

/********* main **********/

.content {
	/* height: 90%; */
	background-color: rgba(0, 0, 0, 0.55);
	border-top: 0px;
	padding: 20px;
}
